{% extends 'base.html' %}

{% block content %}
    <table class="table table-striped">
        <tr>
            <td><b>Song</b></td>
            <td><b>Artist</b></td>
            <td><b>Album</b></td>
        </tr>
        {% for song in songs %}
        <tr>
            <td>{{ song.title }}</td>
            <td>{{ song.artist }}</td>
            <td>{{ song.album }}</td>
            <td>
                <form method="get" action="http://jukesite/song/{{ song.storeId }}.mp3">
                    <button type="submit">Download!</button>
                </form>
            </td>>
        </tr>

        {% endfor %}
    </table>
{% endblock %}